{
    "extends": "eslint:recommended",
    "parserOptions": {
      "ecmaVersion": 2017
    },
    "env": {
      "es6": true,
      "node": true
    },
    "globals": {
    },
    "rules": {
      "quotes": [2, "single"]
    }
  }